<main
  style="height: 100%; display: table-row; background-image: url(/img/back1a.png);background-repeat:repeat;backgroun:top center; font-family: 'Permanent Marker', cursive;">
  <div class="my-3 ">
    <h1 class="d-flex justify-content-center font-size-large">FORECAST FOR CLOTHES</h1>
  </div>
  <form name='weatherForm' class="d-flex justify-content-center my-50"
    style="margin-top: 10% !important, flex-direction: column">
    <div class="card text-center" style="width: 50em;">
      <div class="card-body">
        <h5 class="card-title">Select city</h5>
        <div class="mb-3">
          <input type="text" class="form-control" id="city" name="city">
        </div>
        <button type="submit" class="btn btn-primary">Get a recommendation</button>
      </div>
    </div>
  </form>
  <div data-allSearch class="d-flex justify-content-center m-50 card-body"></div>
</main>
