<nav class="navbar navbar-expand-lg navbar-light bg-warning" style="font-family: 'Permanent Marker', cursive;">
  <div class="container-fluid">

    <div class="container-fluid">
      <ul class="navbar-nav">
        <a class="navbar-brand" href="/">
          <img src="/img/44.png" alt="logo" width="40" height="50" class="d-inline-block align-text-top" href="/">
        </a>
        <div class="navbar-brand">CAST<br>CLOTHES</div>
      </ul>
    </div>
    <div class="collapse navbar-collapse" id="navbarNav">
      <form class="d-flex justify-content-end">
        <ul class="navbar-nav mx-4">
          <li class="nav-item">
            <a class="nav-link active mx-2" aria-current="page" href="/">HOME</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://openweathermap.org/api" style="color: rgb(0, 0, 0);">WEATHER<br>SOURCE</a>
          </li>
        </ul>
      </form>
      </ul>
    </div>
  </div>
</nav>
